@using Newtonsoft.Json
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
    Agent currentAgent = null;
    Homes agentHomes = null;

    if (ViewBag.Agent != null)
    {
        currentAgent = ViewBag.Agent;
        agentHomes = ViewBag.AgentHomes;
    }
}
<div class="container">
    <div class="row p-4 shadow mt-5 mb-5">
        <div class="card-header bg-primary text-white d-flex justify-content-between">
            <h2 class="mb-0">Your Home Listings</h2>
            <a asp-controller="AgentDashboard" asp-action="AgentDashboard" class="btn btn-secondary">Return To Dashboard</a>
        </div>
        @foreach (Home currentHome in agentHomes.List)
        {
            <div class="col-md-4 mt-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@currentHome.Address.ToString()</h5>
                        <p class="card-text">
                            <strong>Home Status: @currentHome.SaleStatus</strong> <br />
                            <strong>Home Cost: @currentHome.Cost</strong> <br />
                            <strong>Home Bedrooms: @currentHome.Rooms.GetBedrooms()</strong> <br />
                            <strong>Home Full Bathrooms: @currentHome.Rooms.GetFullBaths()</strong> <br />
                            <strong>Home Half Bathrooms: @currentHome.Rooms.GetHalfBaths()</strong><br />
                            <strong>Date Listed: @currentHome.DateListed</strong> <br />
                        </p>
                        <div class="d-flex gap-2">
                            <a asp-controller="RealEstateHome" asp-action="BackupEditHome" asp-route-homeID="@currentHome.HomeID" class="btn btn-primary btn-sm me-2"> Edit Home Listing</a>
                            @*
                            <form method="POST" asp-controller="RealEstateHome" asp-action="EditHome" asp-route-homeID="@currentHome.HomeID">
                                <button type="submit" class="btn btn-primary btn-sm me-2" name="AcceptOffer" id="btnViewDetails">Edit Home Listing</button>
                            </form>
                            *@
                            <form method="POST" asp-controller="RealEstateHome" asp-action="DeleteHome" asp-route-homeID="@currentHome.HomeID">

                                <button type="submit" class="btn btn-danger btn-sm me-2" name="DenyOffer" id="btnRequestShowing">Delete Home Listing</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>