@using Newtonsoft.Json
@*
    You must be a logged in agent to access this page.
*@

@{
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
    ViewData["Title"] = "Project 4 - Edit Home Listing";
    Rooms currentRooms = null;
    Images currentImages = null;
    TemperatureControl currentTemperatureControl = null;
    Amenities currentAmenities = null;
    Utilities currentUtilities = null;
    if (ViewBag.EditRooms != null)
    {
        currentRooms = ViewBag.EditRooms;
        currentImages = ViewBag.EditImages;
        currentTemperatureControl = ViewBag.EditTemperature;
        currentAmenities = ViewBag.EditAmenities;
        currentUtilities = ViewBag.EditUtilities;
    }

    int roomCount = 0;

}

<div class="container my-4">
    <form asp-controller="RealEstateHome" asp-action="TryFinalizeEditHome" enctype="multipart/form-data" method="POST" class="card shadow mt-5 p-3">
        <h1>Create a Home Listing</h1>

        <div class="mt-1">
            <h2>Home Address</h2>
            <span class="form-label">Street</span>
            <input class="form-control" name="txtHomeStreet" type="text" placeholder="Enter Street" value="@TempData["txtHomeStreet"]">
            <span class="form-label">City</span>
            <input class="form-control" name="txtHomeCity" type="text" placeholder="Enter City" value="@TempData["txtHomeCity"]">
            <span class="form-label">State</span>
            <select class="form-control" name="ddlHomeState" type="text">
                @foreach (States state in Enum.GetValues(typeof(States)))
                {
                    if (TempData["ddlHomeState"] != null && TempData["ddlHomeState"].ToString() == state.ToString())
                    {
                        <option value="@state" selected="selected">@state</option>
                    }
                    else
                    {
                        <option value="@state">@state</option>
                    }
                }
            </select>
            <span>Zip Code</span>
            <input class="form-control" name="txtHomeZipCode" type="text" placeholder="Enter Zip Code" value="@TempData["txtHomeZipCode"]">

        </div>

        <div class="mt-1">
            <h2>Home Information</h2>
            <span class="form-label">Asking Price</span>
            <input class="form-control" name="txtHomeCost" type="text" placeholder="Enter Asking Price" value="@TempData["txtHomeCost"]">
            <span id="lblPropertyType">Property Type</span>
            <select class="form-control" name="ddlPropertyType">
                @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
                {
                    if (TempData["ddlPropertyType"] != null && TempData["ddlPropertyType"].ToString() == propertyType.ToString())
                    {
                        <option value="@propertyType" selected="selected">@propertyType</option>
                    }
                    else
                    {
                        <option value="@propertyType">@propertyType</option>
                    }
                }
            </select>
            <span class="form-label">Year Constructed</span>
            <input class="form-control" name="txtYearConstructed" type="text" placeholder="Enter Year Constructed" value="@TempData["txtYearConstructed"]">
            <span class="form-label">Garage Type</span>
            <select class="form-control" name="ddlGarageType">
                @foreach (GarageType garageType in Enum.GetValues(typeof(GarageType)))
                {
                    if (TempData["ddlGarageType"] != null && TempData["ddlGarageType"].ToString() == garageType.ToString())
                    {
                        <option value="@garageType" selected="selected">@garageType</option>
                    }
                    else
                    {
                        <option value="@garageType">@garageType</option>
                    }
                }
            </select>
            <span class="form-label">Home Description</span>
            <textarea class="form-control" name="txtHomeDescription" rows="4" cols="20" placeholder="Home Description">@TempData["txtHomeDescription"]</textarea>
            <span class="form-label">SaleStatus</span>
            <select class="form-control" name="ddlSaleStatus">
                @foreach (SaleStatus saleStatus in Enum.GetValues(typeof(SaleStatus)))
                {
                    if (TempData["ddlSaleStatus"] != null && TempData["ddlSaleStatus"].ToString() == saleStatus.ToString())
                    {
                        <option value="@saleStatus" selected="selected">@saleStatus</option>
                    }
                    else
                    {
                        <option value="@saleStatus">@saleStatus</option>
                    }
                }
            </select>
        </div>

        <div class="mt-1">
            <h2>Add Temperature Control Information</h2>
            <span class="form-label">Cooling</span>
            <select class="form-control" name="ddlCooling">
                @foreach (CoolingTypes coolingType in Enum.GetValues(typeof(CoolingTypes)))
                {
                    if (TempData["ddlCooling"] != null && TempData["ddlCooling"].ToString() == coolingType.ToString())
                    {
                        <option value="@coolingType" selected="selected">@coolingType</option>
                    }
                    else
                    {
                        <option value="@coolingType">@coolingType</option>
                    }
                }
            </select>
            <span class="form-label">Heating</span>
            <select class="form-control" name="ddlHeating">
                @foreach (HeatingTypes heatingType in Enum.GetValues(typeof(HeatingTypes)))
                {
                    if (TempData["ddlHeating"] != null && TempData["ddlHeating"].ToString() == heatingType.ToString())
                    {
                        <option value="@heatingType" selected="selected">@heatingType</option>
                    }
                    else
                    {
                        <option value="@heatingType">@heatingType</option>
                    }
                }
            </select>
        </div>

        <div class="mt-1">
            <h2>Home Room Information</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Length</td>
                        <td>Width</td>
                        <td>RoomType</td>
                    </tr>
                </thead>
                <tbody>
                    @if (currentRooms.List.Count == 0)
                    {
                        <tr>
                            <td>No Room Data</td>
                        </tr>
                    }
                    else
                    {
                        @for (int i = 0; i < currentRooms.List.Count; i++)
                        {
                            <tr>
                                <td>@currentRooms.List[i].Height</td>
                                <td>@currentRooms.List[i].Width</td>
                                <td>@currentRooms.List[i].Type</td>
                                <td><button type="submit" formaction="/RealEstateHome/RemoveEditRoom/@i" formmethod="POST" class="btn btn-danger">Remove Room</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

            <h3>Add New Room</h3>
            <div>
                <span class="form-label">Length: </span>
                <input class="form-control" name="roomLength" type="text" placeholder="Enter Length">
                <span class="form-label">Width: </span>
                <input class="form-control" name="roomWidth" type="text" placeholder="Enter Width">
                <span class="form-label">RoomType: </span>
                <select class="form-control" name="roomType">
                    @foreach (RoomType roomType in Enum.GetValues(typeof(RoomType)))
                    {

                        <option value="@roomType">@roomType</option>

                    }
                </select>
                <button type="submit" formaction="/RealEstateHome/AddEditRoom" formmethod="POST" class="btn btn-primary mt-3 w-100">Add Room</button>
            </div>
            
        </div>

        <div class="mt-1">
            <h2>Home Image Information</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Image Type</td>
                        <td>Image Description</td>
                        <td>Is Main Image</td>
                    </tr>
                </thead>
                <tbody>
                    @if (currentImages.List.Count == 0)
                    {
                        <tr>
                            <td>No Image Data</td>
                        </tr>
                    }
                    else
                    {
                        @for (int i = 0; i < currentImages.List.Count; i++)
                        {
                            <tr>
                                <td>@currentImages.List[i].Type.ToString()</td>
                                <td>@currentImages.List[i].Description.ToString()</td>
                                <td>@currentImages.List[i].MainImage.ToString()</td>
                                <td><button type="submit" formaction="/RealEstateHome/RemoveEditImage/@i" formmethod="POST" class="btn btn-danger">Remove Image</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <h3>Add New Image</h3>
            <div>
                <span class="form-label">Image Description: </span>
                <input class="form-control" name="imageDescription" type="text" placeholder="Enter Image Description">
                <span class="form-label">Image Type: </span>
                <select class="form-control" name="imageType">
                    @foreach (RoomType roomType in Enum.GetValues(typeof(RoomType)))
                    {
                        <option value="@roomType">@roomType</option>
                    }
                </select>
                <span class="form-label">Upload Image</span>
                <input class="form-control" type="file" name="imageFile">
                <button type="submit" formaction="/RealEstateHome/AddEditImage" formmethod="POST" class="btn btn-primary mt-3 w-100">Add Image</button>
            </div>
        </div>

        <div class="mt-1">
            <h2>Home Utility Information</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Utility Type</td>
                        <td>Utility Information</td>
                        <td>Remove Utility</td>
                    </tr>
                </thead>
                <tbody>
                    @if (currentUtilities.List.Count == 0)
                    {
                        <tr>
                            <td>No Utility Data</td>
                        </tr>
                    }
                    else
                    {
                        @for (int i = 0; i < currentUtilities.List.Count; i++)
                        {
                            <tr>
                                <td>@currentUtilities.List[i].Type.ToString()</td>
                                <td>@currentUtilities.List[i].Information.ToString()</td>
                                <td><button type="submit" formaction="/RealEstateHome/RemoveEditUtility/@i" formmethod="POST" class="btn btn-danger">Remove Utility</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <h3>Add New Utility</h3>
                <span class="form-label">Utility Information: </span>
                <input class="form-control" name="utilityInformation" type="text" placeholder="Enter Utility Information">
                <span class="form-label">Utility Type: </span>
                <select class="form-control" name="utilityType">
                    @foreach (UtilityTypes utilityType in Enum.GetValues(typeof(UtilityTypes)))
                    {
                        <option value="@utilityType">@utilityType</option>
                    }
                </select>
                <button type="submit" formaction="/RealEstateHome/AddEditUtility" formmethod="POST" class="btn btn-primary mt-3 w-100">Add Utility</button>
            </div>
        </div>

        <div class="mt-1">
            <h2>Home Amenity Information</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Amenity Type</td>
                        <td>Amenity Information</td>
                        <td>Remove Utility</td>
                    </tr>
                </thead>
                <tbody>
                    @if (currentAmenities.List.Count == 0)
                    {
                        <tr>
                            <td>No Amenity Data</td>
                        </tr>
                    }
                    else
                    {
                        @for (int i = 0; i < currentAmenities.List.Count; i++)
                        {
                            <tr>
                                <td>@currentAmenities.List[i].Type.ToString()</td>
                                <td>@currentAmenities.List[i].Description.ToString()</td>
                                <td><button type="submit" formaction="/RealEstateHome/RemoveEditAmenity/@i" formmethod="POST" class="btn btn-danger">Remove Amenity</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <h3>Add New Amenity</h3>
                <span class="form-label">Amenity Information: </span>
                <input class="form-control" name="amenityInformation" type="text" placeholder="Enter Amenity Information">
                <span class="form-label">Amenity Type: </span>
                <select class="form-control" name="amenityType">
                    @foreach (AmenityType amenityType in Enum.GetValues(typeof(AmenityType)))
                    {
                        <option value="@amenityType">@amenityType</option>
                    }
                </select>
                <button type="submit" formaction="/RealEstateHome/AddEditAmenity" formmethod="POST" class="btn btn-primary mt-3 w-100">Add Amenity</button>
            </div>
        </div>
        <button type="submit" name="save" class="btn btn-success mt-3 w-100">Save Edit</button>
        <a asp-controller="RealEstateHome" asp-action="AllEditHomes" class="btn btn-secondary mt-3 w-100">Cancel Edit</a>
        

    </form>
</div>